/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2022, 9:39:03 AM
    Author     : Admin
*/
GridPane {
    -fx-background-color: pink;
}

.title {
   -fx-font-size: 40;
   -fx-font-weight: bold;
   -fx-text-fill: red;
}

Label{
    -fx-padding: 10;
}

.la {
    -fx-color: darkblue;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

